@font-face {
    font-family: "Rejouice Headline";
    src: url("D:/All websites/Rejoiuce/rejoiuce/Rejouice-Headline");
    }
body {
    font-family: "Rejouice Headline";
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
    z-index: 0;

}
#page1 video{
    width: 100%;
    height: 99.45vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
#page1-content{
    position: relative;
    
    height: 100%;
    width: 100%;
    z-index: 10;
    color: white;
}
#page1 nav{
    height: 100px;
    width: 98%;
    
    display: flex;
    align-items: center;
    gap:83vw;
    margin-left: 1rem;
    font-size: 1vw;
    font-weight: 100;
}
#rejouiceText{
    color: white;
    position: relative;
    top:-10vh;
    left: 1vw;
    font-size: 27vw;
    height: fit-content;
    font-weight: 300;
    width: fit-content;
    
   

}
#PlayReel{
    background-color: tomato;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: fixed;
    z-index:99;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 1.3rem;
    font-weight: 100;
    transform: translate(-50%,-50%);
}
#page2{
    height: 100vh;
    background-color: #FAF8F3;
}
#upper{
    
    height:20vh;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    align-items: center;
    border-bottom:1px solid black
}
#lower{
   
    height: 100vh;
    font-size: 3.3rem;
    margin: 0 3vw;
}
#page3 {
    padding-top:20vh;
    height:80vh;
    width: 100%;
    background-color: #FAF8F3;
    position: relative;

}
#page3 h4{
   
    position: relative;
    left: 40vw;
    font-size: 1.1rem;
    font-weight: 100;
}
#page3-top span{
    background-color: #000;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75rem;
}
#page3-top h2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0%;
    font-weight: 400;
}
#page3-bottom{
    height: 80vh;
    width: 100%;
    margin-top: 8vh;
    display: flex;
   
}
.boxes{
    height: 100%;
    width: 40%;
    margin: 0 0.5rem;
    position: relative;
}
.boxes video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.boxes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease 1s;
}
.boxes:hover img {
    opacity: 0;
}
#page4 {
    position: relative;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page4 video{
    height: 100%;
    object-fit: cover;
}
#page4 svg{
    position: absolute;
    height: 65%;
}
#page5{
    height: 60vh;
    position: relative;
}
#page5-top{
    height: 25vh;
    position: relative;
   border-bottom: 1px solid black;
}
#page5-top h4{
    font-size: 10vw;
    font-weight: 100;
}
.swiper {
    width: 100vw;
    height: 52vh;
    margin-top: -35vh;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100vw;
    
  }

  #loader{
    background-color: #000;
    color: white;
    height: 100vh;
    position: absolute;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

  .swiper-slide img {
    /* display: block; */
    width: 23%;
    
    object-fit: cover;
    background-color: greenyellow;
    
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }